body
{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

.rest_input_bx,
.rest_input_box_box,
.name_input_box,
.ch_pr_r_button_bx,
.set_back_button
{
	display: flex;
	justify-content: center;
	align-content: center;
}

.profile_change
{
	height: 100vh;
  width: 100%;
	overflow-x: hidden;
}

.profile_change_slider
{
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100vh;
	transition: .5s;
  background: url(https://res.cloudinary.com/dxcrd5sos/image/upload/v1564253908/robert_header_Kopie_btlfad.png) no-repeat center;
  background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.active
{
	transform: translateX(300px);
}


.change_profile_card
{
	border-radius: 30px;
	width: 1200px;
	height: 450px;
	display: grid;
	grid-template-columns: 3fr 8fr;
	box-shadow: 0px 14px 80px 0px rgba(0,0,0,.1);
}

.ch_pr_left
{
	border-radius: 30px 0 0 30px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
/*	background: linear-gradient(to right, #4A00E0, #0575E6);*/
	position: relative;
}

.ch_pr_left::before
{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 30px 0 0 30px;
	background: #8E2DE2;
	background: linear-gradient(to right, #4A00E0, #8E2DE2);
	filter: opacity(.8);
	z-index: -1;
}

/*
.ch_logo
{
	border: 1px solid blue;
	width: 80px;
	height: 80px;
}
*/

.ch_pr_left_wrapper
{
	height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.ch_pic
{
	height: 330px;
	width: 250px;
	border-radius: 30px;
	object-fit: scale-down;
}

.ch_pr_left_cont
{
	font-size: smaller;
}

.ch_pr_pic_button
{
	padding: 10px 40px;
	border-radius: 30px;
	color: ;
	font-size: ;
	font-weight: ;
	background: #fafafa;
	cursor: pointer;
	box-shadow: 0px 14px 80px 0px rgba(0, 0, 0, 0.3);
	transform: translateY(13px);
}
.ch_pr_pic_button:hover
{
	color: ;
	box-shadow: ;
}


.ch_pr_right
{
	display: grid;
	grid-template-rows: 2fr 2fr 1fr;
/*	background: blue;*/
}

.name_input_box
{
/*	border: 1px dotted green;*/
/*	background: blue;*/
	align-items: flex-end;
	border-top-right-radius: 30px;

}


/*
.name_input_box
{
	align-items: center;
	flex-direction: column;
	justify-content: flex-end;
	border-top-right-radius: 30px;

}

.ch_pr_name_inputs
{
	display: flex;
}

.ch_pr_input_info
{
	display: flex;
	justify-content: space-around;
	width: 875px;
	transform: translateY(20px);
}

.input_info_one
{
	color: #fff;
} */







.rest_input_bx
{
/*	border: 1px dotted green;*/
	box-sizing: border-box;

}

.rest_input_box_box
{
/*	background: yellow;*/
	flex-wrap: wrap;
}

.ch_pr_r_button_bx
{
/*	border: 1px dotted green;*/
/*	background: red;÷*/
	border-bottom-right-radius: 30px;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}


.save_changes_button
{
	height: 53px;
	width: 200px;
	border-radius: 30px;
	font-size: 18px;
	font-weight: bolder;
	color: #fff;
	background: linear-gradient(to right, #4A00E0, #9D6289);
	box-shadow: 0px 14px 80px 0px rgba(0, 0, 0, 0.3);
	border: none;
  cursor: pointer;
	margin-right: 35px;
  outline: none;
	box-shadow: 0px 14px 80px 0px rgba(0, 0, 0, 0.3);
}


.ch_input
{
/*	box-sizing: border-box;*/
	padding-left: 5px;
	width: 380px;
	height: 45px;
	outline: none;
	border-radius: 10px;
	border: none;
	font-size: 20px;
	margin: 10px;
	box-shadow: 0px 14px 80px 0px rgba(0, 0, 0, 0.3);
}
.g_select
{
	color: rgba(0,0,0,.6);
	border-radius: 30px;
	font-size: 20px;
}

.set_back_button
{
  height: 53px;
  width: 250px;
  border-radius: 30px;
  font-size: 18px;
  font-weight: bolder;
  color: #fff;
  background: linear-gradient(to right, #4A00E0, #9D6289);
  box-shadow: 0px 14px 80px 0px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin-right: 35px;
  box-shadow: 0px 14px 80px 0px rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
}















@media screen and (max-width: 740px) {
	.profile_change
	{
		/* overflow: hidden; */
		/* height: 100%;
		width: 100%; */
		/* max-height: 100vh; */
		/* background: linear-gradient(to left, #ee0979, #ff6a00); */
	}

	.profile_change_slider
	{
		position: fixed;
		width: 100%;
		/* height: 100vh; */
		height: 100%;
		background: linear-gradient(to right, #ee0979, #ff6a00);
		/* justify-content: space-around; */
		justify-content: center;
		align-items: center;
		flex-direction: column;
		overflow-x: hidden;
	}



	.change_profile_card
	{
		/* background: green; */
		border-radius: 30px;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		flex-direction: column;
		box-shadow: none;
	}

	.ch_pr_left
	{
		border-radius: 0px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		/* background: red; */
		height: 35%;
		/* background: linear-gradient(to right, #4A00E0, #0575E6); */
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
	}

	.ch_pr_left::before
	{
		display: none;
	}


	.ch_pr_left_wrapper
	{
		height: 0px;
		/* height: 40%; */
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		background: transparent;
	}

	.ch_pic
	{
		height: 100%;
		width: 60%;
		border-radius: 0px 0 0 10px;
		object-fit: scale-down;
		position: absolute;
		top: 0%;
		right: 0;
		background-color: #36393E;
	}

	.ch_pr_left_cont
	{
		font-size: smaller;
	}

	.ch_pr_pic_button
	{
		padding: 2px 2px;
		color: ;
		/* width: 120px; */
		text-align: center;
		font-weight: bolder;
		font-size: small;
		background: #fafafa;
		transform: translateY(0px);
		position: absolute;
		left: 7%;
		top: 80%;
	}
	.ch_pr_pic_button:hover
	{
		color: #fff;
		background: #000;
	}


	.ch_pr_right
	{
		display: flex;
		flex-direction: column;
		position: absolute;
		top: 35%;
		height: 60%;
	}

	.name_input_box
	{
		/* background: blue; */
		align-items: center;
		flex-direction: column;
		width: 100%;
		height: 27%;
		border-top-right-radius: 0px;
		justify-content: flex-start;
	}

	.rest_input_bx
	{
		box-sizing: border-box;
		/* background: black; */

	}

	.rest_input_box_box
	{
	/*	background: yellow;*/
		flex-wrap: wrap;
	}

	.ch_pr_r_button_bx
	{
		position: absolute;
		/* left: 0; */
		width: 100%;
		height: 15%;
		bottom: 0%;
		padding: 20px 20px 0 20px;
		box-sizing: border-box;
		/* background: red; */
		border-bottom-right-radius: 0px;
		display: flex;
		justify-content: space-around;
		align-items: center;
	}


	.save_changes_button
	{
		height: 50px;
		width: 150px;
		font-size: 1.1em;
		font-weight: bold;
		color: #fff;
		background: #4A00E0;
		box-shadow: 0px 14px 80px 0px rgba(0, 0, 0, 0.3);
		margin-right: 0px;
	}


	.ch_input
	{
	/*	box-sizing: border-box;*/
		padding-left: 5px;
		width: 85%;
		height: 35px;
		outline: none;
		border-radius: 10px;
		border: none;
		font-size: 20px;
		margin: 10px;
		box-shadow: 0px 14px 80px 0px rgba(0, 0, 0, 0.3);
	}
	.g_select
	{
		color: rgba(0,0,0,1);
		border-radius: 10px;
		font-size: 20px;
		width: 87%;
	}

	.set_back_button
	{
	  height: 50px;
	  width: 150px;
	  border-radius: 30px;
	  font-size: 1.1em;
	  font-weight: bold;
	  color: #fff;
	  background: #4A00E0;
	  margin-right: 35px;
	}
}
