.logout_btn
{
  position: absolute;
  bottom: 50px;
  left: 25%;
  transform: translateX(-50%);
  outline: none;
  cursor: pointer;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  color: crimson;
  transition: .5s;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.logout_btn:hover
{
  background: purple;
  color: #fff;
}


@media screen and (max-width: 740px) {
  .logout_btn
  {
    color: #ee0979;
    background: #fafafa;
  }
  .logout_btn:hover
  {
    background: #000;
    color: #fff;
  }
}
