.active
{
	transform: translateX(300px);
}

.sidebar
{
	position: fixed;
/*	z-index: -1;*/
	background: #36393E;
	width: 300px;
	left: 0;
	height: 100%;
/*
	bottom: 0;
	top: 0;
*/
}

.sidebar_img
{
	height: 110px;
	background: purple;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding-left: 30px;
}

.sidebar_logo
{
	background: url(https://res.cloudinary.com/dxcrd5sos/image/upload/v1565269271/logo_robert_Kopie_mh7nau.png) no-repeat center;
	background-size: cover;
	width: 90px;
	height: 90px;
}

.sidebar ul
{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 360px;
}

.sidebar ul li
{
	list-style: none;
	color: rgba(230, 230, 230, .9);
	font-size: 1.6em;
	padding: 20px 30px;
	cursor: pointer;
	transition: .3s;
}

.sidebar ul li:hover
{
	color: #fff;
	transform: scale(1.05);
}



a
{
	text-decoration: none;
}

@media screen and (max-width: 740px) {
	.sidebar
	{
		width: 72.5%;
		display: flex;
		flex-direction: column;
		/* background: #36393E; */
		background: #fafafa;
	}
	.sidebar_img
	{
		background: #fafafa;
		/* box-shadow: 0 1px 2px -1px #000; */
		/* background: linear-gradient(to right, #232526, #414345); */

	}
	.sidebar ul
	{
		/* padding-left: 20%; */
		/* display: flex;
		align-items: center; */
		padding-top: 30px;
	}
	.sidebar ul li
	{
		padding: 20px 0;
		color: #000;
	}
	.sidebar ul li:hover
	{
		color: #ee0979;
	}
}
